.icono-horizontal-home {
    order: 1;
    flex: 0 0 24.5em;
    height: 7em;
    width: 100%;
    background-image:url(/assets/icono-cubo-horizontal.jpg);
    background-size: 100%;
    background-repeat: no-repeat; 
    border: 1px solid saddlebrown;
    background-color: orange;
}

.menu-item {
    flex: 1 0 2em;
    padding-top: 1.1em;
    text-align: center;
    height: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 900;
}

.menu-separator {
  flex: 0 0 2px;  
  height: 60%; 
  align-self: center; 
  width: 2px; 
  background-color: #ddd; 
}

a:link {
    text-decoration: none;
}

a {
color: #000062;
}

a:hover {
    color: #679bcd;
}
