<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <span style="font-family: SpumoniLP; font-size:2em">
                <span style="padding-left:0;border-left:0;margin-left:0;color:#040664;">Pre-K</span>
                <span style="padding-right:0;border-right:0;margin-right:0;color:#6998c4;">Spanish</span>
                </span>
            </a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
               <li routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a>
              </li>
               <li routerLinkActive="active"><a routerLink="/resume">Resume</a></li>
               <li routerLinkActive="active"><a routerLink="/videos">Videos</a></li>
               <li routerLinkActive="active"><a routerLink="/articles">Articles</a></li>               
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <li class="dropdown">
                   <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                       <li><a href="#">Save Data</a></li>
                       <li><a href="#">Fetch Data</a></li>
                   </ul>
               </li> 
            </ul>
        </div>
    </div>
</nav>
