.icono-horizontal-home {
  order: 1; 
  flex: 0 0 18em;
  display: flex; 
  flex-flow: column; 
  justify-content: center;
}

/* Centra el ícono de header imagen cuando la pantalla es demasiado angosta (celular) */
@media screen and (max-width: 510px) {
    .icono-horizontal-home {
        flex: 1 100%;
        align-self: stretch;
    }
}

.menu-item {
    flex: 1 0 2em;
    padding-top: 1.8em;
    text-align: center;
    height: 3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 900;
}

.menu-separator {
  flex: 0 0 2px;  
  height: 60%; 
  align-self: center; 
  width: 2px; 
  background-color: #ddd; 
}

a:link {
    text-decoration: none;
}

a {
color: #000062;
}

a:hover {
    color: #679bcd;
}
