
    <div style="order: 1; flex: 0 0 8em;border: 1px solid gray; display: flex; flex-flow: column; justify-content: center">
     <img src="/assets/icono-cubo-horizontal.jpg" style="border: 1px solid blue; height: 3.7em; ">
    </div> 
    <div style="order: 2; display: flex; flex-flow: row nowrap;flex: 1; border: 1px solid orange;">  
      <div  class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></div>
      <div  class="menu-separator"></div>
      <div  class="menu-item" routerLinkActive="active"><a routerLink="/resume">Resume</a></div>
      <div  class="menu-separator"></div>
      <div  class="menu-item" routerLinkActive="active"><a routerLink="/videos">Videos</a></div>
      <div  class="menu-separator"></div>
      <div  class="menu-item" routerLinkActive="active"><a routerLink="/articles">Articles</a></div>
    </div>