  <div style="order: 1; flex-grow: 1; display: flex; flex-flow: row wrap">
      <div style="order: 1; flex-basis: 200px; flex-grow: 1">
        <div class="footer-section-header">
          PrekSpanish
        </div>  
        <img src="assets/sky-blue-border.jpg" width="100%" height="1px">
        <br/>
        <p>A method guaranteed to make your child able to communicate in Spanish, and having lots of 
          fun in the process!</p>
        <p>Scientifically proved, taught by professionals with long experience in the field.</p> 
        <br/>
      </div>
      <div style="order: 2; flex-basis: 200px;  flex-grow: 1">
        <div class="footer-section-header">
          Quick Links
        </div>  
        <img src="assets/sky-blue-border.jpg" width="100%" height="1px">
        <br/>
          <ul>
            <li>Home</li>
            <br/>
            <li>Resume</li>
            <br/>
            <li>Videos</li>
            <br/>
            <li>Articles</li>
          </ul>
          <br/>
      </div>
      <div style="order: 3; flex-basis: 200px;  flex-grow: 1">
       <div class="footer-section-header">
          Contact
        </div>  
        <img src="assets/sky-blue-border.jpg" width="100%" height="1px">
        <br/>
        <p>
          2567 Foothill Blvd 
          <br/>
          Suite 119
        <br/>
        Oakland, CA 94601
        <br/>
        <br/>
        (765)553-2326
        <br/>
        info@prekspanish.com
        </p>
        <br/>
      </div>
  </div>
  <div style="order: 2; flex-basis: 3em; flex-grow: 0;border: 1px solid green;display: flex;  flex-flow: row wrap">
    <div style="flex-basis: 50%">©2017 Pre-k Spanish. All Rights Reserved.</div>
    <div style="flex-basis: 50%; text-align: right" >
          <a href="#"><i class="fa fa-facebook fa-lg fa-fw" aria-hidden="true"> </i> </a>
          <a href="#"><i class="fa fa-twitter fa-lg fa-fw" aria-hidden="true"> </i> </a>
          <a href="#"><i class="fa fa-youtube fa-lg fa-fw" aria-hidden="true"> </i> </a>
    </div>
  </div>  

      
      <!--
      <footer class="footer">

        <section class="footer-section">
        	<div class="container">
            	<div class="row">
                <div class="col-sm-4">
                  <h5><span style="font-family:SpumoniLP; font-size:32px">Pre-K Spanish</span></h5>
                  <img src="assets/sky-blue-border.jpg" width="100%" height="1px">
                  <br/>
                  <p>A method guaranteed to make your child able to communicate in Spanish, and having lots of 
                    fun in the process!</p>
                  <p>Scientifically proved, taught by professionals with long experience in the field.</p> 
                  <br/>
                </div>
                <div class="col-sm-3">
                  <h5>Quick Links</h5>
                  <img src="assets/sky-blue-border.jpg" width="100%" height="1px">
                  <br/>
                  <ul>
                    <li>Home</li>
                    <br/>
                    <li>Resume</li>
                    <br/>
                    <li>Videos</li>
                    <br/>
                    <li>Articles</li>
                  </ul>
                  <br/>
                </div>
                <div class="col-sm-3">
                  <h5>Contact</h5>
                  <img src="assets/sky-blue-border.jpg" width="100%" height="1px">
                  <br/>
                  <p>
                    2567 Foothill Blvd 
                    <br/>
                    Suite 119
                  <br/>
                  Oakland, CA 94601
                  <br/>
                  <br/>
                  (765)553-2326
                  <br/>
                  info@prekspanish.com
                  </p>
                  <br/>
                </div>
            	</div>
        	</div>
        </section>  

        <section class="bottom-section">
          <div class="container">
            <div class="row">
              <div class="col-sm-5"><p>©2017 Pre-k Spanish. All Rights Reserved.</p></div>
              <div class="col-sm-5">
                <span class="pull-right">
                  <a href="#"><i class="fa fa-facebook fa-lg fa-fw" aria-hidden="true"> </i> </a>
                  <a href="#"><i class="fa fa-twitter fa-lg fa-fw" aria-hidden="true"> </i> </a>
                  <a href="#"><i class="fa fa-youtube fa-lg fa-fw" aria-hidden="true"> </i> </a>
                </span>
              </div>
            </div>
          </div>
        </section>

    </footer>
    -->