.footer-section-header {
    height: 50px;
    padding-top: 2em;
    padding-left: 0.3em;
    vertical-align: bottom;
}

.pie {
    font-family: 'Montserrat', sans-serif;
    background: #1a1c1e;    
    color: #e4e7df;
    padding: 7%;
}

.pie h5 {
  font-size: 22px;
  height: 30px;
}

.pie ul {
    margin-left: 0;
    padding-left: 0;
}

.pie ul li {
    list-style: none;
}

.pie p {
    text-align: justify;
    width: 90%;
}

.bottom-section {
    padding: 30px 0 30px 0;
    background: #1a1c1e;    
    color: #e4e7df;
}

.fa:hover {
  color: #6998c4;
}

.fa {
  color: #e4e7df;
}

a:link {
    text-decoration: none;
}

a {
    color: #e4e7df;
}
