<div class="pie" style="display: flex; order: 1; flex-flow: column nowrap">
  <div style="order: 1; flex-grow: 1; display: flex; flex-flow: row wrap">
      <div style="order: 1; flex-basis: 200px; flex-grow: 1">
        <div class="footer-section-header">
          <div class="rectangular-icon-prekspanish"><img height="100%" src="assets/rectangular-icon-prekspanish.png"></div>
        </div>  
        <img src="assets/sky-blue-border.jpg" width="93%" height="1px">
        <br/>
        <p>A method guaranteed to make your child able to communicate in Spanish, and have lots of 
          fun in the process!</p>
        <p>Scientifically proven, taught by professionals with long experience in the field.</p> 
        <br/>
      </div>
      <div style="order: 2; flex-basis: 200px;  flex-grow: 1">
        <div class="footer-section-header">
          Quick Links
        </div>  
        <img src="assets/sky-blue-border.jpg" width="93%" height="1px">
        <br/>
          <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
            <br/>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/resume">Resume</a></li>
            <br/>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/videos">Videos</a></li>
            <br/>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/articles">Articles</a></li>
          </ul>
          <br/>
      </div>
      <div style="order: 3; flex-basis: 200px;  flex-grow: 1">
       <div class="footer-section-header">
          Contact
        </div>  
        <img src="assets/sky-blue-border.jpg" width="93%" height="1px">
        <br/>
        <p>
          2567 Foothill Blvd 
          <br/>
          Suite 119
        <br/>
        Oakland, CA 94601
        <br/>
        <br/>
        (765)553-2326
        <br/>
        info@pre-kspanish.com
        </p>
        <br/>
      </div>
  </div>
  <div style="order: 2; flex-basis: 3em; flex-grow: 0;display: flex;  flex-flow: row wrap">
    <div style="flex-basis: 50%">©2017 Pre-k Spanish</div>
    <div style="flex-basis: 50%; text-align: right" >
          <a href="https://www.facebook.com/prekspanish/"><i class="fa fa-facebook fa-lg fa-fw" aria-hidden="true"> </i> </a>
          <a href="https://twitter.com/PrekSpanish"><i class="fa fa-twitter fa-lg fa-fw" aria-hidden="true"> </i> </a>
          <a href="https://www.youtube.com/channel/UC-K_QGZ4adjXGJ9KPsUiNfQ"><i class="fa fa-youtube fa-lg fa-fw" aria-hidden="true"> </i> </a>
          <a href="https://www.linkedin.com/organization/18115717/admin/updates"><i class="fa fa-linkedin fa-lg fa-fw" aria-hidden="true"> </i> </a>
    </div>
  </div>  
</div>