<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2><span class="celeste">Most</span> Common Questions</h2>
  </div>
  <div class="detail22" style="order: 2">

        <h3>How are you going to make my child speak another language every day?</h3>

        <p>Children love to talk about their favorite subject: themselves. They like to talk about what they did last weekend, what party they went, 
          what present they got for Christmas, etc.</p>
        <p>So, I am going to help you to create an atmosphere at home to learn Spanish.</p>
        <p>We are not going to learn how to say "horse" if you are not going to use it in your daily life.</p>
        <p>It is better to learn how to say "playground" because I am sure you go to the park with your child very often.</p>
        <p>Also, you are not going to learn words as a list of vocabulary (As example, my daughter did probably 60 list of vocabulary and she only remembers 10 WORDS!!!!). 
          You are going to learn context, phrases and situations to use those words.</p>
        
        <h3>What can you provide that I haven't tried?</h3>
        <p>I know that you have spent money in several courses, classes or camps to provide your child the second language that you don't have.</p>
        <p>I know and you know how important is to speak Spanish (or any other language). But you coulnd't find the person, the atmosphere 
          or the material to teach or learn a second language. </p>
        <p>With my method, you are going to understand from the beginning what I am saying; you are going to know words and phrases 
          about your daily life that you can use with your child every day; you are going to create an atmosphere to have fun and learn a language 
          in no time without spending a lot of money or wasting your time.</p>

        <h3>I tried this before. Why didn't children's classes work?</h3>
        <p>Let me tell you a secret: It is very difficult to teach children. Children don't sit still for too long. 
          If they don't want to do something, they won't. (Try to leave the park when they don't want to). </p>
        <p>Also, teachers of preschoolers have the difficulty of not having a curriculum to help them. 
        They usually use the most difficult method of all: list of vocabulary without context or connection between classes (see method)</p>

        <h3>What kind of program can you provide?</h3>
        <p>I divided my couse in eight-45 minute classes. There is not any graduation, score to pass, or knowledge to achieve. </p>
        <p> When you and your child feel comfortable to move on, you are ready.</p>
        <p>Because I don't teach grammar to children, you don't have to learn to present tense to move to the past tense. </p>
        <p>It is a flow, rather than a collection of unrelated subjects. For more information, clikc here.</p>

        <h3>How are you going to memorize phrases and words in that short time?</h3>
        <p>Don't worry about it. I will give you notes for every class that you can put together in a folder. </p>
        <p>Also, you are welcome to record or videotape my classes.</p>
  </div>
</div>