<section class="about-section" style="order: 2">
                	<h2><span class="celeste">See Me</span> in Action</h2>
                    <hr class="short-middle-hr">
                    <br/>
                    <p>Watch some videos of classes I taught. Students'ages range from 22 months to 4 years.</p>
                    <div class="button">
                    	<a routerLink="/videos"><button type="button" class="boton-rojo">WATCH VIDEOS</button></a>
                    </div>
</section>
