<section class="make-happen-section">
        	<div class="container">
            	<div class="our-about">
                	<h2><span style="color:#679bcd; font-weight: 300;">Let's Make Things Happen! With</span> Pre-K Spanish</h2>
                    <hr class="short-middle-hr">
                    <p style="padding-top: 35px;"> If you are a parent (fluent or not) willing to introduce your kid to the beautiful Spanish language.</p>
                    <p>A teacher looking for techniques to engage young students</p>
                    <p>Or a private institute looking to implement a pre-k program from scratch</p>
                    <p> I can help!</p>   

                    <div class="button">
                    
                    	<button type="button" class="btn btn-danger">GET IN TOUCH</button>
                    
                    </div>                
              </div>
            </div>
</section>
