<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2><span class="celeste">Your</span> High School <span class="celeste"> Experience</span></h2>
  </div>
  <div class="detail22" style="order: 2">

    <h3>A poor high school experience</h3>
    
    <p>Believe it or not, I was excited at the prospect of taking French courses in high school.</p>
    <p>I had never had any formal training in the language, but it sounded cultured and sophisticated. 
      Also, the very thought of knowing a second language felt somehow empowering.</p>
    <p>Unfortunately, the same as almost everybody else, after a few weeks the enthusiasm faded away and I found myself bored and struggling with 
      my French assignments, and quickly took the next mental step, which was to think "that I was just not 
      good at foreign languages".</p>
    <p> I coulnd't find fault in the teacher, who was a helpful, knowledgeable person with perfect accent, and knowledge of the finest grammar points.
    And I knew I was trying hard, applying myself to my French assignments and oral drills.</p>
    <p>However, every time Mrs Novar (that was the name of the teacher) drilled us orally, I froze.
Even on very limited speech situations, I felt unable to produce coherent speech. I was not good with languages.</p>

    <p>So I did what most people do in high school: endured the French classes, passed with acceptable grades, and dropped the foreing language c
      ourses as soon as they became optional.<p>
    <p>However, the damage was already done. That sense of inadequacy regarding foreing languages that high school imprints on most of us was there to stay.
    It wasn't until many years later, when my family and I planned to move to Québec, that I revisited French at all.</p>

    <h3>What happens at with high schools with foreign language teaching</h3>
    <p>What happens in most high schools, even to this date, is that the foreign language curricula are based, in one flavor or 
      another of the German or "Grammar-Translation" method (for details on this particular teaching method, you can go here).</p>
    <p>Surely, teachers are now presented with nice turn-key packages (wronlgy called "methods") that include an illustrated reading book, a 
      student workbook, and some audiovisual material. </p>
    <p>There is an effor for making the lessons interesting, the characters engaging, and lots of color and grammar charts. 
       But in essence, all these modernized "methods" still in use at most high-schools are the same old German method, sugarcoated. </p>
    <p>The aims and methodology are the same: to present a grammar point, and then let the student apply that new knowledge, by deduction, on written exercises.</p>
    <p> Within the limited scope of the grammar points explained, the German method might seem sufficient. The students are given pronunciation queues and they have the help of the teacher for answering drills orally.
       But as soon as they are presented with a new speech situation, something not immediately related with the grammatical points just reviewed, the students tend to feel frustrated and "freeze". </p>
    <p>Moreover, teachers often do more harm than good by "jumping" at speech or pronunciation errors made by the students as soon as they occur, in an effort to eradicate them immediately. Mrs. Novar, for example, indubitably trying to help, did that all the time, 
      but the result was that the student (I) feels increasingly frustrated, fearful to experiment with language production outside the 
      limited grammar he/she might know, or wary of making more pronunciation mistakes.</p>
    <p>(As a matter of fact, as a teacher, I made that mistake often at the beginning of my career. Only later I learnt the importance of not interrupting the student's speech despite minor mistakes, 
      because communication and the student's self-confidence in his own speech production are far more important than perfect speech).</p>

    <p>A great deal of inquisitive foreign language teachers perceive, intuitively, how insufficient the grammar method is to help students 
      become proficient in actually speaking a language. So many teachers choose to digress from the "package" imposed by the school c
      urriculum, and start overemphasizing verbal drills and dialogue.</p>
     <p>The problem with that, is that it creates even more stress on the students, because it replaces a bad method with no method at all.</p>
     <p>What normally happens when a teacher decides to emphasize oral communication over the grammar contents of the school curriculum, is that students, 
       not knowing what speech situation will hit them, become even more reluctant to participate, and soon feel they are making no progress at all.</p>

     <h3>In sum</h3>
    <p>Nobody is "not good with languages". As you learned to speak your native language, you can learn others.</p>
    <p>High school language programs, because of the approach and methods they use, create a false expectation of "learning" or "speaking" a language, while in fact they are just giving 
      you a somewhat long, protracted overview of its grammar, vocabulary and pronunciation.</p>
    <p>But the inability to produce his own content, especially verbally, quickly frustrates the student, who, not having been exposed to other teaching methods, 
      thinks the problem resides in himself and shuts down to foreign languages altogether.</p>
    <p>If you had a poor experience with languages in high school, it is probably not because you havent applied yourself, nor because some inhability with you, 
      but because flaws inherent to the way foreign language is taught at schools, and the unmet expectations it generates.</p>
      
  </div>
</div>