<section class="about-section" style="order: 2">
                	<h2><span class="celeste">About</span> Me</h2>
                    <hr class="short-middle-hr">
                    <br/>
                    <p> I am a professional Spanish teacher with more than 12 years of experience, excellent references, and an incredible rapport with children.</p>
                   	<p>In order to keep up-to-date with the latest pedagogical trends and teaching techniques for foreign languages, I take seminars and courses every year.</p>
                    <div class="button">
                    	<a routerLink="/resume"><button type="button" class="boton-rojo">KNOW MORE</button></a>
                    </div>
</section>
