<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2>Finding a Good  <span class="celeste">Learning Program</span></h2>
  </div>
  <div class="detail22" style="order: 2">

    <p>Good programs come in different sizes and shapes and what it is good for one family, isn’t for another. </p>
    <p>Probably the first question that parents can ask, is about the program's philosophy, specifically in relation to the level of the proficiency they expect. </p>
    <p>Also, it is important to know that good programs and schools respect cultural diversity and promote cross-cultural understanding.</p> 
    
    <br/>
    <br/>
    <h3>Curriculum and lesson plans</h3>

    <p>Ask for the curriculum and lesson plan, to see how much time the kids spend in the foreign language. </p>
    <p>Bilingualism won't come from repeating French numbers, days of the week, and colors for half hour of French twice a week. </p>
    <br/>
    <br/>
    
    <h3>Materials and Environment</h3>
    
    <p>What type of material they use in class? Do they different things like videos, crafts, books? </p>
    <p>Look at the classroom decoration: do they have posters and pictures in the second language? </p>
    <p>Are there different games materials in both English and the target language?</p>

    <br/>
    <br/>
    <h3>Native-speaking Teachers</h3>
    
    <p>A non-native teacher can provide quality second language input; but generally speaking, in any given school, the ratio of native-speaker teachers is a factor to consider.</p>
    
    <br/>
    <br/>
    <h3>Teacher Qualifications , Experience and Retention</h3>
    
    <p>What kind of training / qualification do teachers have? Did they receive any specialized training on Child Education? </p>
    <p>How long have teachers been teaching this age group? How high is the class turnover?</p>
    
    <br/>
    <br/>
    <h3>Classroom management</h3>
    
    <p>In addition to these answers, use your own judgement: ask to observe a class. </p>
    <p>Do you notice whether or not the teachers adapt to the child level? Do the adapt their vocabulary to the age group? </p> 
    <p>Is the class having fun? Gauge the engagement. Are they motivated?</p>
    <p>Are the teachers and students using the language? </p>
    
    <br/>
    <br/>
    <h3>Extracurricular Activities</h3>
  
    <p>Does the program offer any sort of extracurricular activities? </p>
    <p>Of those, are there activities that parents can get involved in?</p>
    
    <br/>
    <br/>
    <h3>Finding a good tutor</h3>
    
    <p>No teaching program is useful without the right person to teach it. </p>
    <p>Talk to the tutor, and get a general feeling about whether or not he or she matches your expectations.</p>
    <p>In addition to the program's outline, it is common to ask the individual tutors for a portfolio: which usually includes a resume, teaching plans, recommendation letters, certificates, media, and other evidence of how they teach. </p>
    <p>Once you look at the lesson plan, ask why they chose the topics and activities they did. That will give you a quick sense of how permeated they are by the program.</p>
    
    <br/>
    <br/>
  </div>
</div>