<section class="testimonial-section">
       		<div class="col-md-6" id="our-testimonial">
           		<div class="our-video">
                	<h2><span style="font-weight: normal;"> Some Videos </span> <br>Of My Classes</h2>
                    <hr class="video-line">
                    	<div class="myvideo">
                        	<iframe width="457" height="315" src="https://www.youtube.com/embed/VQ2-HPwxAZY" frameborder="0" allowfullscreen=""></iframe>
                      	</div>
                   		<p>
                        	<button type="button" class="btn btn-success">VEW MORE</button>
                       	</p>
                </div>
           	</div>
         	<div class="col-md-6" id="our-testimonial">
           		<div class="service">
              		<h2><span style="color:#669acc; font-weight: normal">
                                    What Our</span><br>
                                   	Clients Say Regarding<br>
                                    Our Service
                   	</h2>
                   	<hr class="service-line">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                      <div class="owl-stage" style="transform: translate3d(-2085px, 0px, 0px); transition: 0s; width: 4865px;"><div class="owl-item cloned" style="width: 685px; margin-right: 10px;"><div class="donce">
                            <p> <i class="fa fa-quote-left ileft" aria-hidden="true"></i> 
                                    <span style="font-style:italic; font-size: 16px;">
                                        Donec dui enim, malesuada id sapien eget, interdum ullamcorper leo. Ut aliquet erat impiet libero pulvinar malesuada. Mauris lobortis id risus ut rutrum. Sed ultricies dapibus facilisis.
                                    </span>
                                
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                           </p>
                                <img src="img/man1.png" alt=""> 
                                <div class="quote_txt_author">Mark Thomas</div>
                                <div class="quote_txt_designation">
                                	<span style="">CEO, APK Group</span>
                               	</div>	 
                        </div></div><div class="owl-item cloned" style="width: 685px; margin-right: 10px;"><div class="donce">
                            <p> <i class="fa fa-quote-left ileft" aria-hidden="true"></i> 
                                    <span style="font-style:italic; font-size: 16px;">
                                        Donec dui enim, malesuada id sapien eget, interdum ullamcorper leo. Ut aliquet erat impiet libero pulvinar malesuada. Mauris lobortis id risus ut rutrum. Sed ultricies dapibus facilisis.
                                    </span>
                                
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                           </p>
                                <img src="img/man1.png" alt=""> 
                                <div class="quote_txt_author">Mark Thomas</div>
                                <div class="quote_txt_designation">
                                	<span style="">CEO, APK Group</span>
                               	</div>	 
                        </div></div><div class="owl-item" style="width: 685px; margin-right: 10px;"><div class="donce">
                            <p> <i class="fa fa-quote-left ileft" aria-hidden="true"></i> 
                                    <span style="font-style:italic; font-size: 16px;">
                                        Donec dui enim, malesuada id sapien eget, interdum ullamcorper leo. Ut aliquet erat impiet libero pulvinar malesuada. Mauris lobortis id risus ut rutrum. Sed ultricies dapibus facilisis.
                                    </span>
                                
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                           </p>
                                <img src="img/man1.png" alt=""> 
                                <div class="quote_txt_author">Mark Thomas</div>
                                <div class="quote_txt_designation">
                                	<span style="">CEO, APK Group</span>
                               	</div>	 
                        </div></div><div class="owl-item active" style="width: 685px; margin-right: 10px;"><div class="donce">
                            <p> <i class="fa fa-quote-left ileft" aria-hidden="true"></i> 
                                    <span style="font-style:italic; font-size: 16px;">
                                        Donec dui enim, malesuada id sapien eget, interdum ullamcorper leo. Ut aliquet erat impiet libero pulvinar malesuada. Mauris lobortis id risus ut rutrum. Sed ultricies dapibus facilisis.
                                    </span>
                                
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                           </p>
                                <img src="img/man1.png" alt=""> 
                                <div class="quote_txt_author">Mark Thomas</div>
                                <div class="quote_txt_designation">
                                	<span style="">CEO, APK Group</span>
                               	</div>	 
                        </div></div><div class="owl-item" style="width: 685px; margin-right: 10px;"><div class="donce">
                            <p> <i class="fa fa-quote-left ileft" aria-hidden="true"></i> 
                                    <span style="font-style:italic; font-size: 16px;">
                                        Donec dui enim, malesuada id sapien eget, interdum ullamcorper leo. Ut aliquet erat impiet libero pulvinar malesuada. Mauris lobortis id risus ut rutrum. Sed ultricies dapibus facilisis.
                                    </span>
                                
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                           </p>
                                <img src="img/man1.png" alt=""> 
                                <div class="quote_txt_author">Mark Thomas</div>
                                <div class="quote_txt_designation">
                                	<span style="">CEO, APK Group</span>
                               	</div>	 
                        </div></div><div class="owl-item cloned" style="width: 685px; margin-right: 10px;"><div class="donce">
                            <p> <i class="fa fa-quote-left ileft" aria-hidden="true"></i> 
                                    <span style="font-style:italic; font-size: 16px;">
                                        Donec dui enim, malesuada id sapien eget, interdum ullamcorper leo. Ut aliquet erat impiet libero pulvinar malesuada. Mauris lobortis id risus ut rutrum. Sed ultricies dapibus facilisis.
                                    </span>
                                
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                           </p>
                                <img src="img/man1.png" alt=""> 
                                <div class="quote_txt_author">Mark Thomas</div>
                                <div class="quote_txt_designation">
                                	<span style="">CEO, APK Group</span>
                               	</div>	 
                        </div></div><div class="owl-item cloned" style="width: 685px; margin-right: 10px;"><div class="donce">
                            <p> <i class="fa fa-quote-left ileft" aria-hidden="true"></i> 
                                    <span style="font-style:italic; font-size: 16px;">
                                        Donec dui enim, malesuada id sapien eget, interdum ullamcorper leo. Ut aliquet erat impiet libero pulvinar malesuada. Mauris lobortis id risus ut rutrum. Sed ultricies dapibus facilisis.
                                    </span>
                                
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                           </p>
                                <img src="img/man1.png" alt=""> 
                                <div class="quote_txt_author">Mark Thomas</div>
                                <div class="quote_txt_designation">
                                	<span style="">CEO, APK Group</span>
                               	</div>	 
                        </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
             	</div>
         	</div>
        </section>