<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2><span class="celeste">My</span> Teaching Techniques</h2>
  </div>
  <div class="detail22" style="order: 2">
         <p style="margin-top:20px;">These are some of the teaching techniques and approaches I use in my PrekSpanish classes.</p>

        <h3>Grammar-Translation Method</h3>
        
        <p>Traditionally, the main goals of this method have been to read literature in the foreign language in question, 
          or, in the particular case of the classical languages, to benefit from the mental discipline that comes form 
          learning difficult aspects of the language.</p>
        <p>For that reason, the focus of this method is learning the grammar of the foreign language.</p>
        <p>The first language is used all along the learning process, and little to no speaking is done (virtually the only 
          talking students do, is when reading aloud the sentences that they have translated). </p>
        <p>The main focus of the method is to read and write. </p>

        <h3>TPR (Total Physical Response)</h3>
        
        <p>It is an approach that requires movement. </p>
        <p> The teacher says and acts something (typically a verb in command tense) and students follow her/his 
          lead by acting out (sometimes as a whole group, sometimes only a few students).</p>
        <p>When students feel comfortable enough with the language subject, they take the place of the teacher.</p>

        <h3>Audio-lingual</h3>
        <p>This is a very direct approach based on listening and repetition, and it is focused almost exclusively on speech. </p>
        <p>It has been used by the US Army since 1943, and it guarantees that the students will acquire some degree of spoken 
          fluency in the language after just two weeks of study, just by reacting conversationally to spoken situations, 
          and without studying grammar subjects specifically.</p>

        <h3>Presentation, Practice, Production (PPP)</h3>
        <p>It is an audio-lingual approach that incorporates three stages.</p>
        <ol>
          <li>First, there is presentation, where the teacher presents the grammar subject in a way meaningful to the students.</li>
          <li>Then, the students and the teacher practice that subject in a very "safe" and regulated environment.</li>
          <li>Finally, the students practice that grammar subject without the teacher's help, in a conversational activity. </li>
        </ol>

        <h3>Specific Pre-school approaches</h3>

        <p>It is difficult to find a single method or approach to teach preschoolers. </p>
        <p>There is not any official curriculum, and we, as teachers, are pretty much on our own. 
          Also, there is not a lot of material to rely upon.</p>
        <p>My curriculum is centered in the children: what the children need and what they like to talk about.</p>
        <p>Usually if you stop by at any classroom in the USA, you will see either of two types of classes:
        <ol>
          <li>Teachers who choose a subject (e.g. "winter") and do a lot of activities about it, including 
            endless vocabulary lists (color the snowman, make snow, etc)</li>
           <li>Teachers who are trying to cover a book with ALL the activities, without thinking if the students will need 
             or use that particular subject.</li>
        </ol>
        <p>Let's read, for example:</p>

        <p>J o u o u n e o u o a u g o a u o g</p>
        <p>Ca che ta mar mor je be nit u</p>
        <p>face book sea table leg lamp music floor fish</p>
        <p>When I was growing up, my family had a house in the mountains. We used to go every summer.</p>
        <p style="color: gray; font-style: italic">(Example taken from "Spanish for preschoolers: E-guide" by Ana Lomba ) </p>

        <p>What was the easiest sequence to remember? The last one, obviously.</p>
        <p>Learning words will not help children to speak the language.
          They will forget the words as soon as the teacher walks out the door. </p>
        <p>On the other hand, "Repetition, repetition and more repetition" is the key to learn a language. </p>
        <p>So, the solution is to create a curriculum that makes repetition possible without boredom. </p>
        <p>Puppies, songs, and crafts, are materials that I use every single class to help children learn Spanish, 
          as a whole (as opposed to isolated words without a context).</p>
  </div>
</div>