/deep/ .celeste{
    color:#679bcd;
}

/deep/ .azul {
    color: #000062;
}

.contenedor{
    display: flex; 
    margin: auto;
    flex-flow: column nowrap; 
    border: 2px solid red; 
    justify-content: flex-start;
    align-items: space-around;
    min-height: 100vh;
    flex-grow: 1;
}

/deep/ .page-container {
    order: 2; 
    display: flex; 
    flex-flow: column nowrap; 
    align-items: stretch; 
    justify-content: flex-start; 
    padding-left: 10%; 
    padding-right: 10%;
    border: 3px solid orange;
}

/deep/  .inner-header {
    height: 10px;
    flex-basis: 80px;
    flex-grow: .5;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5%;
}

/deep/ .section-separator {
  width: 50%; 
  align-self: center; 
  height: 2px; 
  background-color: #ddd; 
}

/deep/ .boton-rojo {
    color: #fff;
    background-color: #f13338;
    border-color: #f13338;
    border-radius: 39px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    width: 154px;
    height: 53px;
}

/deep/ @media screen and (min-width: 800px){
    .invisible-above-800px { display: none; }
}

/deep/ @media screen and (min-width: 600px){
    .invisible-above-600px { display: none; }
}

/deep/ @media screen and (max-width: 600px){
    .invisible-below-600px { display: none; }
}

/deep/ @media screen and (max-width: 550px){
    .invisible-below-550px { display: none; }
}
