<div class="contenedor" style="width: 100%;margin: auto;justify-content: flex-start; ">
        <app-header style="order: 1; border: 3px solid yellow; display: flex; flex-flow: row wrap; order: 1"></app-header>

        <div style="order: 2; display: flex; flex-flow: row wrap; order: 2; flex-flow: column nowrap; justify-content: flex-start;
        align-items: stretch">
          <router-outlet style="order: 1; flex-basis: 0; flex-grow: 0"></router-outlet>
        </div>


        <app-footer style="display: flex; flex-grow: 1; flex-flow: column nowrap; order: 3; align-self: stretch"></app-footer>
</div>


