/deep/ .celeste{
    color:#679bcd;
}

/deep/ .azul {
    color: #000062;
}

.contenedor{
    display: flex; flex-flow: column nowrap; border: 1px solid red; 
    justify-content: flex-start;
    align-items: space-around;
    min-height: 100vh;
}

/deep/ .page-container {
    order: 2; 
    flex-grow: 1; 
    display: flex; 
    flex-flow: column nowrap; 
    align-items: stretch; 
    justify-content: flex-start; 
    padding-left: 10%; 
    padding-right: 10%
}

/deep/ .page-container .inner-header {
    height: 10px;
    flex-basis: 80px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5%;
}

/deep/ .section-separator {
  width: 50%; 
  align-self: center; 
  height: 2px; 
  background-color: #ddd; 
}
