<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2><span class="celeste">Latest</span> Articles</h2>
  </div>
  <div style="order: 2; display: flex; flex-flow: column nowrap; justify-content:flex-start;flex: 1 0;">
    <div class="article-title">Some of my teaching techniques</div>
    <div class="article-item">
        <div class="article-item-image"><img width="100%" src="assets/teaching-techniques-item.jpg"></div>
        As a teacher you have to be up-tp-date on the latest, proven teaching tehcniques.
        <br/>This article lists some of the methods and approaches I know and tried for teaching foreign languages in the course 
        of my career, along with my opinion on how they work specifically for preschoolers.
    </div>
    <div class="button-container"><a routerLink="/articles/teaching-techniques"><button type="button" class="boton-rojo">READ MORE</button></a></div>
    <br/>
    <div class="section-separator"></div>
    <br/>
    <div class="article-item">
        <div class="article-title">Most Common Questions</div>
        <div class="article-item-image"><img width="100%" src="assets/common-questions-item.jpg"></div>
            These are the most common questions parents ask me, when they want to help their child acquire a second language from an early age.
            <br/>Will a new language slow the child's speech acquisition? Which is the best age to start? What if we are not fluent in the target language?
            <br/>And many more, with answers backed by the latest research.
    </div>
    <div class="button-container"><a routerLink="/articles/common-questions"><button type="button" class="boton-rojo">READ MORE</button></a></div>
    <br/>
    <div class="section-separator"></div>
    <br/>   
    <div class="article-item">
        <div class="article-title">Your Own High School Experience with Languages</div>
        <div class="article-item-image"><img width="100%" src="assets/international-flags-item.jpg"></div>
            Did you feel frustrated and annoyed with the way you were taught a foreign language in high school?
            <br/>Share the problem with me. It was frustrating for me too, as for most people.
    </div>
    <div class="button-container"><a routerLink="/articles/high-school-experiences"><button type="button" class="boton-rojo">READ MORE</button></a></div>
  </div>
</div>