.welcome-section h2 {
    font-size: calc( 1em +  1.5vw);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #000062;
    line-height: calc( 0.8em +  1.3vw);
}

.welcome-section{
        height: 50vw;
        width: 100%;
        background-image:url(/assets/transparencia-madre-hija.jpg);
        background-size: 100%;
        background-repeat: no-repeat;    
}


@media screen and (min-width: 800px){
    .invisible-above-800px { display: none; }
}

@media screen and (min-width: 600px){
    .invisible-above-600px { display: none; }
}

@media screen and (max-width: 600px){
    .invisible-below-600px { display: none; }
}

@media screen and (max-width: 550px){
    .invisible-below-550px { display: none; }
}


.our-banner{
    position: absolute;
    right: 7%;
    left: 7%;
    line-height: calc( .5em +  1.2vw);
}
.our-banner p {
    font-size: calc( .5em +  .7vw);
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}