    <div class="hero-image welcome-section">
      <div class="hero-text our-banner">
                            
                                <h2>
                                    <span class="celeste"> Welcome to</span> My <br>
                                    Spanish Curriculum <span class="celeste">for Preschoolers.</span>
                                </h2>
                                
                                <p>
                                It guarantees that your child will learn to communicate in Spanish<br> 
            (and have lots of fun in the process).
                                </p>
                                
                                <p>
                                Proven method, developed after more than 14 years of teaching experience.
                                </p>
                                <p><a href="#"><button type="button" class="btn btn-danger">KNOW MORE</button></a></p>
                            
      </div>
    </div>