.welcome-section{
        height: 50vw;
        width: 100%;
        background-image:url(/assets/transparencia-madre-hija.jpg);
        background-size: 100%;
        background-repeat: no-repeat;    
}


@media screen and (min-width: 800px){
    .invisible-above-800px { display: none; }
}

@media screen and (min-width: 600px){
    .invisible-above-600px { display: none; }
}

@media screen and (min-width: 770px){
    .invisible-above-770px { display: none; }
}

@media screen and (max-width: 600px){
    .invisible-below-600px { display: none; }
}

@media screen and (max-width: 550px){
    .invisible-below-550px { display: none; }
}


.our-banner{
    margin-left: .3em;  
}

.our-banner-h2{
    font-size: calc( 1em +  1.2vw);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #000062;    
    padding-top: 0;
    margin-top: 0.3vw;
    margin-left: 1em;
    font-weight: 900;
}



.our-banner p {
    font-size: calc( .5em +  .7vw);
    line-height: calc( .8em +  1.3vw);
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin-left: 2em;
}