
    <div class="welcome-section" style="order: 1">
      <div class="our-banner">
                            
              <h2>
                  <span class="celeste"> Welcome to</span> My <br>
                  Spanish <br class="invisible-above-600px">Curriculum <span class="celeste">
                    <br class="invisible-above-800px">  for 
                    <br class="invisible-above-600px">Preschoolers.</span>
              </h2>
              
              <p style="width: 50%" class="invisible-below-550px">
                It guarantees that your child 
                <br class="invisible-above-600px"> will earn 
                to communicate 
                <br class="invisible-above-600px"> in Spanish  
                (and have lots
                <br class="invisible-above-600px"> of fun in the process).
              </p>
              
              <p class="invisible-below-600px">
              Proven method, developed after <br/>
              more than 14 years <br/>
              of teaching experience.
              </p>
                            
      </div>
    </div>