.welcome-section{
        height: 30%;
        /* width: 100%;
        font-size:50px; */
        background-image:url(/assets/banner-girl-mother.jpg);
        background-size: 100%;
        background-repeat: no-repeat;    
}

.our-banner{
    position: absolute;
    right: 15%;
    left: 15%;
    font-size: 14px;
    line-height: 1.428;
}

@media only screen and (max-width: 900px) {
    [class*="our-banner"] {
        top: 80%;
    }
}

.our-banner h1 {
    font-size: 44px;
    color: #000060;
    font-family: 'Montserrat', sans-serif;
    font-weight: 950!important;
}




.our-banner p {
    font-size: 16px;
    color: #373737;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}