<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2><span class="celeste">About</span> Me</h2>
  </div>
  <div class="detail22" style="order: 2">
       <div class="foto-mariana-resume">
             <img src="/assets/mariana_azaleas.jpg" width="100%x">
       </div>
         <p>My name is Mariana Díaz and I am a native of Buenos Aires, Argentina.</p>

         <p>I have formed my own company, PrekSpanish, which offers teaching and education consulting services to schools, 
           private institutes and individuals.</p>

         <p>I am also a mother of two girls, Manuela and Zahra, who are completely bilingual.</p>

         <p>My university formation was very traditional, I got a degree in Language and Literature, with a major in Classic Languages (yes, I know Latin and Classic Greek). </p>
         <p>Shortly after my graduation I started teaching Spanish in secondary schools, and as a private tutor.</p>
      <p>Soon, I realized that the approaches traditionally used for teaching foreign languages, based on grammar and translation, 
        weren't satisfactory, and realized the importance of getting my students more involved; specifically, getting them to produce as much 
        actual speech as the alloted class time permitted.
      </p>  
      <p>  
       So I started to intensively study more pedagogical methods and teaching techniques focused on foreign language acquisition. 
       I became a member of the American Council on the Teaching of Foreign Languages and attended many of their excellent courses and seminars, 
       I took Art and Acting workshops, I read every Language Teaching book I could lay my hands on, and obtained even more material online. 
       In particular, the material by Ana Lomba, a teacher, mother and businesswoman who developed specialized material on language education for childen, 
       steered me in the right direction when creating my own curriculum.
      </p>
      <p>
        Of every new piece of material I studied, I was able to extract what I found valuable, and apply it to my daily teaching experience. Not every new approach worked: I was very fortunate that my employers, both institutional and private, were patient enough to let me experiment new things in my classes. That way, by actual trial-an-error through my professional experience, I was able to shape a set of methods and techniques that produce the best results when teaching a foreign language.
        I have to also give credit, in general, to American schools and institutes, for the degree of freedom they traditionally give to their teachers about how they teach a language, as long as measurable results are achieved.
      </p>
  </div>
  <div class="section-separator" style="order: 3"></div>
  <div class="detail22" style="order: 4">
    <h3>Education</h3>
    <p>Licentiate Degree in Spanish Language and Literature - with specialization in Classics
      <br/><span class="attribution">2000 - University of Buenos Aires, Argentina </span></p>

    <p>Professional Development Seminars
    <br/><span class="attribution">2004 - Nashville, Tennessee, USA Tennessee Foreign Language Institute </span></p>

    <p>Seminar on ADD - AD/HD syndrome detection (Attention-Deficit/Hyperactivity Disorder)
    <br/><span class="attribution">Nashville, Tennessee, USA - 2003 - College Heights Christian Academy</span></p>

    <p>Teaching English as a Second Language
    <br><span class="attribution">Tennessee Foreign Language Institute - Nashville, Tennessee, USA - 2005</span></p>


    <p>Seminar and Workshops - ESL
    <br/><span class="attribution">Nashville, Tennessee, USA - 2006 - American Council on the Teaching of Foreign Languages.</span></p>

    <p>Seminar and Workshops  - Creative Teaching Strategies for the Spanish Classroom.
    <br/><span class="attribution">San Antonio, Texas, USA - 2007 - American Council on the Teaching of Foreign Languages.</span></p>

    <p>Workshop - Accelerating Proficiency in your foreign Language Class using TRRS Strategies.
    
       
    <p>Accelerating Proficiency in your Foreign Language Classroom Using TPRS - 2015
    <br/><span class="attribution">Online training offered by the Bureau of Education and Research. www.ber.org - 2015</span></p>
     

    <p>Professor Diploma for Education in High School, College and Special Needs.
    <br/><span class="attribution">University of Buenos Aires, Argentina - 2015</span></p>  

    <p>Indiana Teaching Certification
    <br/><span class="attribution">Indiana Department of Education - 2016</span></p>

    <p>International Baccalauraeate Educator Certification
    <br/><span class="attribution">Butler University, Indiana, USA - 2016</span></p>  

  </div>
</div>