/deep/ .h2 {
    font-size: 2.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #000062;
}

.detail22 {
    flex-grow: 0.5;
    flex-basis: 470px;
}

.detail22 p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}

.foto-mariana-resume{
  display: flex;
  flex-flow: column nowrap;
  float: left;
  width: 20em;
  padding-right: 1em;
  padding-bottom: 1em;
}

/** when all text wraps below, discard right padding*/
@media screen and (max-width: 515px) {
    .foto-mariana-resume {
        padding-right: 0;
        width: 100%;
    }
}



