/deep/ .h2 {
    font-size: 2.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #000062;
}

.header22 {
    height: 10px;
    flex-grow: 0;
    flex-basis: 80px;
    text-align: center;
}

.detail22 {
    flex-grow: 0.5;
    flex-basis: 470px;
}

.detail22 p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}

.foto-mariana-resume {
    float: left;
    padding: 20px 20px 20px 0px;
}

/* Centra la imagen cuando la pantalla es demasiado angosta (celular) */
@media screen and (max-width: 400px) {
    .foto-mariana-resume {
            padding: 20px 10px 20px 20px;
    }
}


.section-separator {
  width: 50%; 
  align-self: center; 
  height: 2px; 
  background-color: #ddd; 
}
