<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2><span class="celeste">About</span> Me</h2>
  </div>
  <div class="detail22" style="order: 2">
       <div class="foto-mariana-resume">
             <img src="/assets/mariana_azaleas.jpg" width="100%x">
       </div>
         <p>My name is Mariana Díaz and I am a native of Buenos Aires, Argentina.</p>

         <p>I have formed my own company, PrekSpanish, which offers teaching and education consulting services to schools, 
           private institutes and individuals.</p>

         <p>I am also a mother of two girls, Manuela and Zahra, who are completely bilingual.</p>

         <p>My university formation was very traditional, I got a degree in Language and Literature, with a major in Classic Languages (yes, I know Latin and Classic Greek). </p>
         <p>Shortly after my graduation I started teaching Spanish in secondary schools, and as a private tutor.</p>
      <p>Soon, I realized that the approaches traditionally used for teaching foreign languages, based on grammar and translation, 
        weren't satisfactory, and realized the importance of getting my students more involved; specifically, getting them to produce as much 
        actual speech as the alloted class time permitted.
      </p>  
      <p>  
       So I started to intensively study more pedagogical methods and teaching techniques focused on foreign language acquisition. 
       I became a member of the American Council on the Teaching of Foreign Languages and attended many of their excellent courses and seminars, 
       I took Art and Acting workshops, I read every Language Teaching book I could lay my hands on, and obtained even more material online. 
       In particular, the material by Ana Lomba, a teacher, mother and businesswoman who developed specialized material on language education for childen, 
       steered me in the right direction when creating my own curriculum.
      </p>
      <p>
        Of every new piece of material I studied, I was able to extract what I found valuable, and apply it to my daily teaching experience. Not every new approach worked: I was very fortunate that my employers, both institutional and private, were patient enough to let me experiment new things in my classes. That way, by actual trial-an-error through my professional experience, I was able to shape a set of methods and techniques that produce the best results when teaching a foreign language.
        I have to also give credit, in general, to American schools and institutes, for the degree of freedom they traditionally give to their teachers about how they teach a language, as long as measurable results are achieved.
      </p>
  </div>
  <div class="section-separator" style="order: 3"></div>
  <div class="detail22" style="order: 4">
    <h3>Education</h3>
    <p>Licentiate Degree in Spanish Language and Literature - with specialization in Classics - 2000 
University of Buenos Aires, Argentina </p>

<p>Professional Development - Nashville, Tennessee, USA - 2004
Tennessee Foreign Language Institute </p>

<p>Seminar for Teachers - Nashville, Tennessee, USA - 2003
ADD - AD/HD syndrome detection (Attention-Deficit/Hyperactivity Disorder)
Offered by College Heights Christian Academy </p>

<p>Teaching English as a Second Language - Nashville, Tennessee, USA - 2005
Tennessee Foreign Language Institute</p>


<p>Seminar and Workshops - Nashville, Tennessee, USA - 2006
American Council on the Teaching of Foreign Languages. </p>

<p>Seminar and Workshops - San Antonio, Texas, USA - 2007
American Council on the Teaching of Foreign Languages - Creative Teaching Strategies for the Spanish Classroom. </p>

<p>Workshop. Atlanta, Georgia, USA 2008
Accelerating Proficiency in your foreign Language Class using TRRS Strategies.
Bureau of Education and Research</p>


<p>Accelerating Proficiency in your Foreign Language Classroom Using TPRS - 2015
Online training offered by the Bureau of Education and Research. www.ber.org </p>

<p>Professor Diploma for Education in High School, College and Special Needs. - Indiana, USA - 2015 University of Buenos Aires, Argentina </p>

<p>Indiana Teaching Certification - 2016 Indiana Department of Education </p>

<p>International Baccalauraeate Educator Certification - Indiana, USA - 2016 Butler University</p>
  </div>
</div>