/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: stretch;
  margin: 0;
  width: 100vw;
}