/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: SpumoniLP;
    src: url('/assets/SpumoniLP.ttf');
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}