<div class="home-section" style="background-color: yellow">
    
    <div style=" 
        height: 100%;
        width: 100%;
        order: 1;
        flex-grow: 1;
        border: 2px solid red;
        font-size:50px; 
        background-image:url(assets/banner-girl-mother.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    ">
      <div class="our-banner">
                            
                                <h1>
                                    <span style="color:#202020; font-weight: normal;"> Welcome to</span> My <br>
                                    Spanish Curriculum for<br> 
                                    Preschoolers.
                                </h1>
                                
                                <p>
                                It guarantees that your child will learn to communicate in Spanish<br> 
            (and have lots of fun in the process).
                                </p>
                                
                                <p>
                                I am a professional Spanish teacher with more than 12 years of <br>
            experience, excellent references, and an incredible rapport with...
                                </p>
                                <p><a href="#"><button type="button" class="btn btn-danger">KNOW MORE</button></a></p>
                            
                        	</div>
    </div>
    
</div>