/deep/ .h2 {
    font-size: 2.3vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #000062;
}



/deep/ .block-div{
    display: block;
}


/deep/ .short-middle-hr {
    color: #000062;
    background-color: #000062;
    height: 2px;
    width: 5%;
    margin: 0 auto;
}


/deep/ .btn-danger {
    color: #fff;
    background-color: #f13338;
    border-color: #f13338;
    border-radius: 39px;
    font-size: 14px;
    margin-top: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    width: 154px;
    height: 53px;
}

#welcome{
        order: 1;
        height: 30%;
        /* width: 100%;
        font-size:50px; */
        background-image:url(/assets/banner-girl-mother.jpg);
        background-size: 100%;
        background-repeat: no-repeat;    
}