.fill {
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
    border: 1px solid orange;
}

.home-section{
    height: 2000px;
    display: block;
}

.our-banner{
    position: absolute;
    right: 15%;
    left: 15%;
    font-size: 14px;
    line-height: 1.428;
}

.our-banner h1 {
    font-size: 44px;
    color: #000060;
    font-family: 'Montserrat', sans-serif;
    font-weight: 950!important;
}

.our-banner p {
    font-size: 16px;
    color: #373737;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.btn-danger {
    color: #fff;
    background-color: #f13338;
    border-color: #f13338;
    border-radius: 39px;
    font-size: 14px;
    margin-top: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    width: 154px;
    height: 53px;
}