.home-section{
    height: 2000px;
    display: block;
}



/deep/ .short-middle-hr {
    color: #000062;
    background-color: #000062;
    height: 2px;
    width: 5%;
    margin: 0 auto;
}


/deep/ .btn-danger {
    color: #fff;
    background-color: #f13338;
    border-color: #f13338;
    border-radius: 39px;
    font-size: 14px;
    margin-top: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    width: 154px;
    height: 53px;
}

