<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2><span class="celeste">What to </span> Keep in Mind <span class="celeste"> when Teaching a Foreign Language to Children</span></h2>
  </div>
  <div class="detail22" style="order: 2">

    <h3>It cannot be separated from other areas of learning</h3>

      <p>Young children learn how to speak holistically, rather than in neat, tidy compartments.</p>

      <p>A child doing a playdough activity conducted in a foreign language,  
        is learning maths (shapes and solids), arts (texture,design, color), and building fine motor
        skills (physical development)</p>

    <br/>
    <br/>        

    <h3>Concrete needs drive the language learning process</h3>

      <p>Activity drives the need to communicate. </p>
    
      <p>It is impossible to emphasize enough the
       utilitarian aspect of language learning: children learn a language best when they can
       make the connection between what they are doing and the speech ability needed for that activity.</p>

      <p>This is true for adults too, by the way, but as adults we tend to be less plastic, 
      and have most of our daily needs solved one way or another. As popular wisdom tells, 
      an adult suddenly transplanted to a foreign country and facing the prospect of starving, 
      should learn how to order food rather quickly.</p>
    
      <p>Similarly, young children will learn a language better when they see a genuine need 
      for communication, which is often the language they are hearing or using while they
       are doing an activity they enjoy.</p>

       
     <br/>
     <br/>   

     <h3>Children are motivated by activities that are meaningful to them</h3>

        <p>While adults can plan a range a activities to enhance the learning experience, 
        not all of them will be motivating for every child. </p>
        <p>Children are more likely to be motivated if the activity or experience is meaningful 
        to them. Taking time to get to know the children and finding out what they are 
        interested in is essential if you want to motivate them and help them learn.</p>

        <p>Any activity that is interesting to a child can be used as an opportunity to develop 
          language and communication.<p>

        <p>Once you have spotted those areas of genuine interest, shamelessly use and abuse them. The 
          interactions you have with children while they are engaged in such activities, will help better develop
          language and communication "in context", making the language acquisition more 
          durable and meaningful.</p>

      <br/>
      <br/>

      <h3>Rhymes, songs and chants are always good</h3>
       
          <p>They are ood ways for children to memorise language and practise pronunciation.
          Singing and reciting help children memorise words, and unthinkingly acquire grammar and 
          sentence structures; they also help with pronunciation, expression and the overall "foreign 
          language rhythm". </p>

          <p>Children learn their first language by playing with language this way, and in 
           that regard a second language is no different.</p>

      <br/>
      <br/>

      <h3>Stories are a great way to provide a context for learning any second language</h3>
           
          <p>A good story takes children to an imaginary world filled with characters 
            and events that will make them want to find out what happens next. </p>
          <p>Tell your story in an engaging way; add images, enacting, and they will want to hear 
            it again, even join you in retelling it, or tell it in their own words. </p>
          <p>Illustrations and acting also help children understand the verbal descriptions 
             of characters and events, because they can connect what they are seeing and 
             doing with the language in the story. This physical reinforcement is 
             extremely important for kids learning a second language.</p>

      <br/>
      <br/>
      <h3>Always pepper your games and activities with short, repetitive commands</h3>

      <p>Giving clear, simple instructions in the second language with accompanying actions, 
        gestures or demonstrations is more likely to result in children understanding.</p>
      <p> Children love copying - the teacher, their parents, older siblings or friends - and 
        will often join in after observing how something is done. </p>
      <p>Including routines is also a useful way of helping young children understand what is 
        expected of them (e.g. every time we sit on the mat we will hear a story or sing a song). </p>
        
        <p>Children may not understand straight away, but giving instructions in the second language
           is an excellent way of reinforcing key language concepts, so in the long run it is 
           always worth the extra effort.</p>

  </div>
</div>