<div class="page-container">
  <div class="inner-header" style="order: 1">
    <h2><span class="celeste">Some Videos</span> Of My Classes</h2>
  </div>
  <div style="order: 2; display: flex; flex-flow: column nowrap; justify-content:flex-start;flex: 1 0;">
    <div class="video-item">
        <iframe width="380" height="285" src="https://www.youtube.com/embed/0GPAuEJwDrY"></iframe>
        <div class="video-card">
          <div class="video-title">La Sopa Loca (Crazy Soup)</div>
            <p>This activity is designed in a way that every child can participate, according to the level of involvement.</p>
            <p>Do you think any of these children would ever forget what "sopa" means?</p>
            <p>They just absorbed lots of background information: utensils, imperative forms, size adjectives, food vocabulary, and, all along, the sound and inflection of the language.</p>
            <p> (this activity is completely conducted in Spanish, which doesn't bother them in the least!).</p>
        </div>
    </div>
    <br/>
    <div class="section-separator"></div>
    <br/>
    <div class="video-item">
        <iframe width="380" height="285" src="https://www.youtube.com/embed/ZOeIvbPBPC8"></iframe>
        <div class="video-card">
          <div class="video-title">Un Tallarín (A Noodle)</div>
            <p>The game : A random person (I start with myself) is chosen to hold a plate with tagliarini and sing the song.</p> 
            <p>At the end of each song, the bearer chooses a "victim" who will have to eat the tallarines on the plate (or optionally pretend 
              to eat some, as cold noodles are somewhat disgusting).</p>
            <p>The song ends with ... "y se los come" plus the name of the next "victim". Not even the cameraman escapes this fate!</p>
            <p>At each repetition, we add 1 to the count of tagliarini, all the way to 10.</p> 
        </div>
    </div>
    <br/>
    <div class="section-separator"></div>
    <br/>   
    <div class="video-item">
        <iframe width="380" height="285" src="https://www.youtube.com/embed/SAYf8Tog15U"></iframe>
        <div class="video-card">
          <div class="video-title">Ricitos de Oro (Goldilocks)</div>
            <p>As we do at the beginning of each class, in this segment we review ways to exrpress how we feel ("bien", "mal"), and introduce a new mood: "enojado" (angry). </p>
            <p>We follow by issuing some movement commands they already know: "correr" (run), "saltar" (jump), but with the addition of how fast we perform the action:
               "lento" (slowly) or "rápido" (quickly). </p>
            <p>Finally, we commence with the story, introducing the characters. </p>
            <p>Notice how, although the puppets are approximately the same size, the children already grasp the concept of "Papá Oso" being big ("grande"), but "Bebé Osito" small ("pequeño"). 
            They also know, intuitively, what size of soup plate that corresponds to each one.</p>
        </div>
    </div>
    <br/>
    <div class="section-separator"></div>
    <br/>
    <div class="video-item">
        <iframe width="380" height="285" src="https://www.youtube.com/embed/T6dn3lpA4Gs"></iframe>
        <div class="video-card">
          <div class="video-title">Commands (part I)</div>
            <p>The method I am employing in this class is called "Total Physical Response" or TPR, and it consists, precisely, in getting the students to understand a concept and react in a physical manner. In this way, we communicate, even before they are capable of articulated speech.
            <p>These 22-month olds first became comfortable with the general idea of following commands, using a "vuela, vuela" (fly, fly) playful introduction. 
            <p>The commands used in this first class were: "¡Toca la puerta!" (knock on the door!) and "Siéntate!" (sit down!).<p> 
            <p>I think the most rewarding moment of the class, is when one of the kids, who was hesitant about climbing the chair, after watching the other child, 
              decides to go at it all by himself.</p>
        </div>
    </div>  
    <br/>
    <div class="section-separator"></div>
    <br/>   
    <div class="video-item">
        <iframe width="380" height="285" src="https://www.youtube.com/embed/PsT82bLd8eE"></iframe>
        <div class="video-card">
          <div class="video-title">Commands (part II)</div>
            <p>On the second class we use again "¡siéntate!", and we add "¡bebe el agua!" (drink the water!). </p>
            <p>We even get them to fetch water for their parents. They "sharing" happens exactly as it is expected at their developmental stage: 
              22-month olds don't really "share", unless it is evident that there is enough reminder of the "stuff" in question.
              So, when asked to take water to someone else, they take the water, walk over to the parent, drink themselves, double-check that there 
              is water left, and only then hand over the cup.</p> 
             <p>They don't act like that because they hadn't understand the command, much the opposite!</p> 
             <p>When we run out of water, asked if they want more, the children answwer "Sí." and "Sí, please". That moment alone is worth the whole class ... </p>
        </div>
    </div> 
    <br/>
    <div class="section-separator"></div>
    <br/>   
    <div class="video-item">
        <iframe width="380" height="285" src="https://www.youtube.com/embed/2nXdwtEW2bk"></iframe>
        <div class="video-card">
          <div class="video-title">Caperucita Roja (Little Red Riding Hood)</div>
             <p>At the initial section where we describe moods, we introduced "tengo miedo" (I am scared) and movement verbs: "corre, camina" (run, walk), that later will link to the story.</p>

             <p>When Caperucita picks flowers, we review the basic colors in a fluid, natural way. </p>
             
             <p>A volunteer students impersonates the wolf, who chases Caperucita, then chases Grandmother who hides in the cupboard, then impersonates Ganrdmother.</p>
             <p>At the climactic traditional exchange we introduce body parts: "qué ojos grandes, qué orejas grandes" (what big eyes, ears, etc). 
             Notice how most students, at first reluctanct to impersonate the wolf, end up competing to volunteer!</p>
        </div>
    </div>            
  </div>
</div>