.video-item{
    display: inline-block;
    padding: 5px;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 3px;
    flex: 1 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}

.video-item-image{
  display: flex;
  flex-flow: column nowrap;
  float: left;
  width: 20em;
  height: 15em;
  padding-right: 1em;
  padding-bottom: 1em;
}

/** when all text wraps below, discard right padding*/
@media screen and (max-width: 515px) {
    .video-item-image {
        padding-right: 0;
        width: 100%;
    }
}

.section-separator {
    width: 100%;
}

/** cuando se estrecha demasiado la pantalla, sacar el padding para que quepa el iframe del video*/
@media screen and (max-width: 400px) {
    .page-container {
            padding-left: 0;
            padding-right: 0;
    }
    .video-item{
            padding-left: 0;
            padding-right: 0;
    }
    .inner-header {
        height: 110px;
    }

}

.video-card{
    display: flex; 
    flex-flow: column nowrap;
    padding-left: 20px;
    min-width: 300px;
    flex: 1 1 300px;
}

.video-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 1%;
    text-align: center;
}

.video-card p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8em;
    text-align: justify;
}