








/** cuando se estrecha demasiado la pantalla, sacar el padding para que quepa el iframe del video*/
@media screen and (max-width: 400px) {
    .page-container {
            padding-left: 0;
            padding-right: 0;
    }
    .inner-header {
        height: 110px;
    }

}


.play-button {
    background-image:url(/assets/red-play-button.png);
    background-size: 100%;
    background-repeat: no-repeat;    
    z-index: 10;
    height: 60px;
    width: 60px;
}

/*.play-button:hover {
    background-image: url(/assets/red-play-button.png);
}*/