.levels-section {
    height: 50vw;
    width: 100%;
    background-image:url(/assets/service-faded.jpg);
    background-size: 100%;
    background-repeat: no-repeat;  
}

.our-levels{
    position: absolute;
    right: 7%;
    left: 7%;
    line-height: calc( .8em +  1.3vw);
    width: 40%;
}

.our-levels h2 {
    font-size: calc( 1em +  1.5vw);
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #000062;
    margin-top: 2vw;
}

.levels-hr {
    color: #000062;
    background-color: #000062;
    height: 2px;
    width: 5%;
    margin-left: 0;
}

.our-levels p {
    font-size: calc( .5em +  .7vw);
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.our-levels ul{
    list-style-position: inside;
    padding-left:0;
}

.our-levels ul li {
    font-size: calc( .5em +  .7vw);
    color: #373737;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

