<section class="levels-section">
        	<div class="container">
            	<div class="our-levels">
                	<h2><span class="celeste">Our</span> Levels</h2>
                    <hr class="levels-hr">
                    <p>
                    	I break up the program in three levels, according to age:
                    </p>
                    
                    
                    <p>
                    	</p><ul>
                        	<li>18 months to 2 years</li>
                            <li>2 to 3 years</li>
                            <li>4 to 5 years</li>
                        </ul>
                    
                    <p></p>
                    <br>
                     
                    <p>Activities on each level are designed according to each development stage, but they </p>
                    <p>revolve around daily life themes childre are comfortable and familiar with.</p>
                    
                </div>
            </div>
        </section>
