<section class="levels-section" style="order: 3">
            	<div class="our-levels">
                	<h2><span class="celeste">Our</span> Levels</h2>
                    <p>
                    	3 levels designed according to age:
                    </p>                   
                    
                    <ul>
                        <li>18 months to 2 years</li>
                        <li>2 to 3 years</li>
                        <li>4 to 5 years</li>
                    </ul>
                    
                    <p>They revolve around daily life situations </p>
                    <p>that children are comfortable and familiar with.</p>
                    
                </div>
        </section>
